.idea
.DS_Store
.env
.env-staging
.env-production
web-env.json
.netlify
.redwood
dev.db*
*.sqbpro
dist
dist-babel
node_modules
yarn-error.log
web/public/mockServiceWorker.js
web/types/graphql.d.ts
api/types/graphql.d.ts
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
config/
tsconfig.tsbuildinfo
desktop/dist
desktop/Webapp*

!web/config/webpack.config.js

.clinic/

scripts/public-downloads/